@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Teko&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h3,
a {
  font-family: "RocknRoll One", sans-serif;
  color: white;
}

span,
p {
  font-family: "Teko", sans-serif;
}

p {
  color: white;
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

button {
  border: none;
  border-radius: 20px;
  color: orange;
  padding: 1rem;
  cursor: pointer;
}

button > a {
  color: orange;
}

/* NAV  */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* background: orange; */
  /* min-width: 650px; */
  height: 15vh;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: black solid 2px;
  flex-wrap: nowrap;
  background: rgb(91, 91, 91);
  background: linear-gradient(
    90deg,
    rgba(91, 91, 91, 1) 0%,
    rgba(156, 156, 156, 1) 100%
  );
}

.list-div {
  /* transform: translateX(13rem); */
  padding-top: 3rem;
  margin-bottom: 0.5rem;
}

.list-div > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  float: right;
}
.list-div > ul > li {
  height: 3rem;
  padding-top: 0;
  padding-bottom: 0;
}
li {
  padding: 2rem;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.white {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.nav-cart-link {
  transform: translateY(-1.5rem);
  cursor: pointer;
}

.nav :is(.title-div, .list-div) {
  padding-left: 3rem;
  text-shadow: black 2px 2px;
}

.list-div > ul > li > a {
  transition: text-decoration 0.5s;
}

.list-div > ul > li > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1120px) {
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 675px) {
  a {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1rem;
  }
  /* .list-div {
    width: 100%;
  } */

  .list-div > ul > li {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .list-div > ul > li {
    padding: 0.25rem;
  }
  .list-div,
  .title-div {
    padding-left: 0.5rem !important;
  }

  .section-text > h3 {
    font-size: 2rem !important;
  }
  .section-text > p {
    font-size: 1rem;
  }
}

/* HOME, ABOUT, SHOP */
.home-parallax-0 {
  background-image: url("./backgroundImages/4-babsi-1.jpg");
}

.home-parallax-1 {
  background-image: url("./backgroundImages/21-honnold-4.jpg");
}

.home-parallax-2 {
  background-image: url("./backgroundImages/racked-cams-1.jpg");
}

.about-parallax-3 {
  background-image: url("./backgroundImages/honnold-solo-2.jpeg");
}

.shop-parallax-4 {
  background-image: url("./backgroundImages/racked-cams-3.jpg");
}

.error-page {
  background-image: url("./backgroundImages/21-honnold-1.png");
}

div
  :is(.home-parallax-0, .home-parallax-1, .home-parallax-2, .about-parallax-3, .shop-parallax-4, .error-page) {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: linear-gradient(0deg, #00000088 30%, #ffffff44 100%); */
  /* filter: brightness(50%); */
  opacity: 0.65;
  /* min-width: 650px; */
  z-index: 0;
  height: 100vh;
  width: 100vw;
  overflow: none;
}

div
  :is(.home-parallax-0-text, .home-parallax-1-text, .home-parallax-2-text, .about-parallax-3-text, .shop-parallax-4-text, .error-text) {
  position: relative;
  top: 18rem;
  left: 4rem;
  color: white;
  text-shadow: black 3px 3px 3px;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0);
  filter: brightness(200%);
  width: 100%;
  height: 100%;
}
.about-parallax-3-text,
.shop-parallax-4-text {
  top: 5rem !important;
  left: 50vw !important;
  /* font-size: 2rem !important; */
}

@media only screen and (max-width: 800px) {
  .about-parallax-3-text,
  .shop-parallax-4-text {
    top: 5rem !important;
    left: 20vw !important;
    /* font-size: 3rem !important; */
  }

  div
    :is(.home-parallax-0-text, .home-parallax-1-text, .home-parallax-2-text, .about-parallax-3-text, .shop-parallax-4-text, .error-text) {
    font-size: 3rem !important;
  }
}

div :is(.section-1, .section-2, .section-3, .about-div, .shop-div, .input-div) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20rem 0 20rem;
  background: orange;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  border: 1px solid black;
  background: rgb(91, 91, 91);
  /* background: linear-gradient(135deg, rgba(91,91,91,1) 0%, rgba(156,156,156,1) 100%); */
}

.section-text {
  padding: 2rem;
  margin: 4rem;
  border-radius: 10px;
  /* min-width: 400px; */
  background: linear-gradient(145deg, #ffb100, #e69500);
  /* box-shadow:  25px 25px 50px  rgba(0, 0, 0, 0.9),
              -25px -25px 50px rgba(255, 231, 187, 0.7); */
  box-shadow: 11px 11px 21px #242424, -11px -11px 21px #929292;
  text-shadow: 1px 1px 2px black;
  /* border-radius: 10px;
  background: linear-gradient(145deg, #ffb100, #e69500);
  box-shadow:  21px 21px 54px #664200,
             -21px -21px 54px #ffff00; */
}

.section-text > button {
  font-family: "Teko", sans-serif;
  text-shadow: 1px 1px 1px black;
  background-color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
  .section-text {
    width: 90%;
    margin: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  div
    :is(.section-1, .section-2, .section-3, .about-div, .shop-div, .input-div) {
    padding: 2rem !important;
  }
}
.section-text > p {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1rem;
  /* background: rgb(199, 129, 0); */
  box-shadow: inset 6px 6px 12px #492f00, inset -6px -6px 12px #ffbd00;
}

.section-text :is(h3) {
  text-shadow: black 2px 2px;
}

.section-text > button {
  transition: transform 0.5s, text-shadow 0.5s;
}

.section-text > button:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px black;
}

.shop-div {
  padding: 5rem !important;
}

/* ITEM */

h2,
h4 {
  font-family: "Teko", sans-serif;
}

h2,
h4 {
  color: white;
}
h2 {
  font-size: 3rem;
  margin: 0;
}
h4 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

select {
  scroll-margin-top: 15vh;
  height: 3rem;
  border-radius: 10px;
  margin: 1rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 10px solid rgb(150, 150, 150); */
  border: 10px solid orange;
  border-radius: 10px;
  margin: 3rem;
  scroll-margin-top: 30vh;
  background: #969696;
  box-shadow: 11px 11px 21px #242424, -11px -11px 21px #929292;
}

@media only screen and (max-width: 1032px) {
  .item-container {
    /* margin: 1rem; */
    width: 100%;
  }
  .input-div {
    padding: 0 !important;
  }

  .shop-div {
    padding: 2rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .item-type-name {
    font-size: 2rem;
  }

  .purchase,
  .scroll {
    height: 6rem !important;
  }
}

.item-header-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* background-color: rgb(150, 150, 150); */
  background-color: orange;
  text-shadow: 2px 2px black;
}

.scrollDiv {
  width: 20%;
}
.item-type-name {
  flex-grow: 5;
  width: 50%;
  padding: 1rem;
}

.img-title-desc-container {
  width: 100%;
  /* width: 90%; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: black 3px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-type-image {
  height: 32rem;
  width: 45%;
  background: white;
  border-bottom-left-radius: 5px;
  object-fit: contain;
}

.title-desc-container {
  width: 55%;
  height: 32rem;
  text-align: left;
  background: rgb(120, 120, 120);
  border-bottom-right-radius: 5px;
  margin: 0;
  text-shadow: 1px 1px 3px black;
}
@media only screen and (max-width: 1032px) {
  .title-desc-container {
    overflow-y: scroll;
  }
}
.title-desc-container > div {
  display: flex;
  flex-direction: row;
}
.title-desc-container > div > h4 {
  margin: 0.5rem;
  font-weight: 100;
}

.title-desc-container > div:nth-child(even) {
  background-color: rgb(85, 85, 85);
}

.item-title {
  width: 30%;
}

.item-desc {
  width: 70%;
}

.item-type-buy,
.item-type-buy > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-right: 3rem; */
  width: 50%;
}
.item-type-buy > div,
.item-type-buy > button {
  width: 33%;
  margin: 1rem;
}

.item-type-buy > button {
  font-family: "Teko", sans-serif;
  font-size: 1rem;
}

select,
select > option {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (max-width: 875px) {
  .item-type-buy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
    width: 100%;
  }
}

.amount {
  height: 2.8rem;
  width: 2.8rem;
  border: 1px solid black;
  pointer-events: none;
  text-align: center;
}

.minus,
.plus {
  border: 1px solid black;
  background-color: white;
  width: 2rem;
  color: black;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
.purchase,
.scroll {
  height: 2.125rem;
  width: 10rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  align-self: center;
  padding-bottom: 2rem;
  border-radius: 10px;
  /* background-color: rgb(255,255,255); */
}

.minus {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.plus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.disabled {
  pointer-events: none;
}

.minus:hover,
.plus:hover,
.purchase:hover {
  cursor: pointer;
}

/* CART  */

.cart-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  height: 70vh;
  min-height: 60vh;
  width: 50vw;
  /* min-width: 320px; */
  border: black solid 2px;
  background: dimgray;
  border-radius: 10px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  animation: fade-in 0.25s 1 ease-in;
}

.header-cancel-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.header-cancel-div > h2,
.subtotal {
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.header-cancel-div > h2:nth-child(1),
.subtotal {
  text-shadow: 2px 2px black;
}
.exit-button {
  background: salmon;
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}
.itemized-list {
  background: white;
  width: 90%;
  height: 50%;
  margin: 0 auto;
  overflow-y: scroll;
}

.itemized-list-item {
  color: black;
  padding: 0.5rem;
}

.itemized-list-item > div {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.itemized-list-item > div > p {
  color: black;
  padding: 1rem;
  margin: 0;
}

.itemized-list-item > div > p:nth-child(2)::before {
  content: "x";
}

.itemized-list-item > div > p:nth-child(4)::before {
  content: "$";
}

.checkout-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}

.checkout-cancel > button {
  background-color: orange;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5rem;
  font-family: "Teko", "sans-serif";
}

.delete {
  font-size: 2rem;
  background: salmon;
  border-radius: 10px;
  color: white;
  margin-top: 0.5rem;
  padding: 0.25rem;
  margin-left: 5rem;
  height: 100%;
}

.cart-image {
  height: 5rem;
  width: 4rem;
}

@media only screen and (max-width: 1032px) {
  .cart-div {
    width: 80vw;
  }

  .item-type-buy {
    padding-right: 1rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .itemized-list-item > div > p {
    padding: 0.25rem !important;
  }

  .item-title {
    font-size: 0.5rem !important;
  }

  /* .item-type-buy {
    flex-direction: row-reverse;
  } */
}

@media only screen and (max-height: 650px) {
  .itemized-list {
    width: 90%;
    height: 500px;
  }
  .header-cancel-div > h2,
  .subtotal > h2 {
    font-size: 1.5rem;
  }

  .exit-button {
    font-size: 1rem;
  }
  .checkout-cancel {
    padding: 0;
  }

  .checkout-cancel > button {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .subtotal,
  .checkout-cancel {
    width: 40%;
  }
}

.home-div-container,
.about-div-container,
.shop-div-container {
  transition: filter 0.25s;
}

/* NOTIFCATION */
.notification {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 15vh;
  background: rgb(65, 65, 65);
  color: white;
  font-size: 4rem;
  z-index: 10;
  border-radius: 10px;
  border: 5px solid orange;
  box-shadow: 3px 3px 50px 25px rgba(0, 0, 0, 0.5),
    -3px -3px 50px 25px rgba(0, 0, 0, 0.5);
  animation: fade-in 0.25s 1 ease-in;
}

.notificationText {
  width: 70%;
  margin: 3rem;
}

.notification > div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notification > div > button:nth-child(1) {
  margin: 3rem;
  color: black;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
}

.exit-notification {
  background: salmon;
  border-radius: 0px 5px 0px 5px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 650px) {
  .notification {
    width: 90vw;
    height: 25vh;
  }
}

@media only screen and (max-height: 650px) {
  .notification {
    width: 90vw;
    height: 25vh;
  }
}

@keyframes fade-in {
  0% {
    /* transform: translateY(0rem); */
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    /* transform: translateY(-10rem); */
    opacity: 1;
    filter: blur(0px);
  }
}
