@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Teko&display=swap");

body {
  margin: 0;
}

h1,
h3,
a {
  font-family: "RocknRoll One", sans-serif;
  color: white;
}

span,
p {
  font-family: "Teko", sans-serif;
}

p {
  color: white;
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

button {
  border: none;
  border-radius: 20px;
  color: orange;
  padding: 1rem;
}

button > a {
  color: orange;
}

/* NAV CSS */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: orange;
  height: 15vh;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: black solid 2px;
}

.list-div > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  float: right;
}
li {
  padding: 2rem;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.nav :is(.title-div, .list-div) {
  padding-left: 3rem;
}

/* HOME CSS */
.home-parallax-0 {
  background-image: url("./images/4-babsi-1.jpg");
}

.home-parallax-1 {
  background-image: url("./images/21-honnold-4.jpg");
}

.home-parallax-2 {
  background-image: url("./images/racked-cams-1.jpg");
}

.about-parallax-3 {
  background-image: url("./images/honnold-solo-2.jpeg");
}

.shop-parallax-4 {
  background-image: url("./images/racked-cams-3.jpg");
}

.error-page {
  background-image: url("./images/21-honnold-1.png");
}

div
  :is(.home-parallax-0, .home-parallax-1, .home-parallax-2, .about-parallax-3, .shop-parallax-4, .error-page) {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* filter: brightness(50%); */
  opacity: 0.65;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  overflow: none;
}

div
  :is(.home-parallax-0-text, .home-parallax-1-text, .home-parallax-2-text, .about-parallax-3-text, .shop-parallax-4-text, .error-text) {
  position: relative;
  top: 18rem;
  left: 4rem;
  color: white;
  text-shadow: black 3px 3px 3px;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0);
  filter: brightness(200%);
}
.about-parallax-3-text,
.shop-parallax-4-text {
  top: 5rem !important;
  left: 50vw !important;
  /* font-size: 2rem !important; */
}

div :is(.section-1, .section-2, .section-3, .about-div, .shop-div, .input-div) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20rem 0 20rem;
  background: orange;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}
